<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Numiscoin2"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CollectionActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".CalculatorActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".CurrencyActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".MarketplaceActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".AddCoinActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".CoinDetailActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".EditCoinActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".RegisterActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".RecoverPasswordActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".setting.ProfileActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".setting.EditProfileActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2" />

        <activity android:name=".HelpActivity" />

        <activity android:name=".ObjetosListActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name=".ObjetosPaisActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity
            android:name=".CameraWithOverlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".MembershipActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".CreateCollectionActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>
        <activity android:name=".setting.SettingsActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>
        <activity android:name=".setting.LanguageActivity" />
        <activity android:name=".setting.FAQActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>
        <activity android:name=".setting.ContactActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>
        <activity android:name=".setting.TermsActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>
        <activity android:name=".setting.BackupActivity" />

        <activity android:name=".EventoDetailActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>

        <activity android:name="EditCollectionActivity" android:exported="false"
            android:theme="@style/Theme.Numiscoin2"/>
    </application>
</manifest>
